<div class="card flex justify-center">
  <div class="p-1 w-full">
    <p-select
      optionLabel="name"
      placeholder="Seleccionar un Establecimiento"
      class="w-full md:w-56"
      [options]="establishmentsList"
      [(ngModel)]="selectedEstablishment"
      (onChange)="getSurveysByEstablishment()"
    />
  </div>
</div>
<div class="p-1">
  <p-button
    label="Crear Encuesta"
    icon="pi pi-question"
    [disabled]="!selectedEstablishment"
    (onClick)="onCreateSurvey()"
  />
</div>
<div>
  @if (isLoading()) {
    <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
  } @else {
    @if (selectedEstablishment) {
      @if (surveysList().length === 0) {
        <p>Aun no tienes preguntas creadas</p>
      } @else {
        <div>
          @for (survey of surveysList(); track $index) {
            <div>
              {{ survey.question }}
            </div>
          }
        </div>
      }
    } @else {
      <p>Seleccione un Establecimiento para ver las encuestas</p>
    }
  }
</div>
